.sidebar
  = render partial: "shared/sidebar"
.mainbar
  .main-head
    .main-head-left
      %p.main-head-left__name ddd
      %ul.group-name
        %li.group-name__member
          = current_user.name
    .edit
      = link_to "Edit", edit_group_path(@group.id), class: 'btn'
  .messages
    = render @messages
  .input-box
    = form_for [@group, @message] do |f|
      = f.text_field :content, placeholder: "type a message", class: "message-text"
      .input-box__mask
        = f.label :image do
          = fa_icon 'image', class: "message-icon"
          = f.file_field :image, class: "message-file"
      = f.submit "Send", class: "send"


